body {
    background-color: rgb(167, 112, 167);
    color: aliceblue;
}
header{
    border: 6px solid rgb(215, 90, 215);
    text-align: center;
    color: rgb(126, 18, 74);
    background-color: aliceblue;
}
img {
    border-radius: 10%;
    max-width: 400px;
    max-height: 400px;
    padding: 5px;
   
}

.top {
    display: flex;
   justify-content: center;
   text-align: center;
   color: antiquewhite;
   border: 7px solid rgb(126, 18, 74)

}
.box {
    display: flex;
    justify-content: center;
    font-size: small;
    flex-wrap: nonwrap;
    flex-direction: row;
    
   
}
.box1 {
    display: flex;
    flex-flow: column-reverse;

}



.submitBtn {
    font-weight: 500;
    color: rgb(0, 18, 18);
    background: #f39dc0;
    border-color: #6e0a32;

}
    
   